<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ name }}'s subscriptions</title>
</head>
<body>
    <button><a href="{% url 'YouTubeStats:channel' id %}">Back to overview</a></button>
    <h3>{{ name }}'s subscriptions data</h3>
    DATE        SUBSCRIPTIONS VALUE        DIFFERENCE
    {% if subscriptions_data %}
        {% for data in subscriptions_data %}
            <p>{{ data.update_date }}        {{ data.subs_value }}        {{ data.difference }}</p>
        {% endfor %}
    {% endif %}
</body>
</html>